@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;800&family=Outfit:wght@400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{ 
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    max-width: 360px;
    margin: 0 auto;
}

.card {
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.card  img {
    width: 100%;
    border-radius: 10px;
}

.purpose {
    color: hsl(218, 44%, 22%);
    padding: 20px 0 20px 0;
    font-size: 25px;
}

.how {
    color: hsl(220, 15%, 55%);
    font-size: px;
    padding-bottom: 10px;
    margin: 0 30px;
}

.attribution {
    padding-top: 50px;
    justify-content:  center;
}